@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
}

code {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.home-container {
  text-align: left;
  margin-top: 40px;
}

.title {
  color: white;
  margin-left: 20px;
  letter-spacing: 5px;
}

.similar-title {
  color: white;
  margin-left: 20px;
  letter-spacing: 5px;
  text-align: left;
}

.movies {
  display: flex;
  overflow-y: none;
  margin-bottom: 50px;
}

.movies img {
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  margin-left: 20px;
}

.movie-container {
  display: flex;
  align-items: center;
}

.poster-container {
  display: flex;
}

.trending-count {
  height: 300px;
  color: black;
  font-size: 300px;
  margin: 0;
  -webkit-text-stroke: 5px #595959;
  margin-right: -50px;
  margin-top: -45px;
  letter-spacing: -30px;
}

.movie-container:hover {
  opacity: 0.5;
  cursor: pointer;
}

.rating {
  display: flex;
  background-color: #3f3f3f;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: -35px;
}

.spacer {
  margin: 0 auto;
  height: 1px;
  width: 80%;
  background: white;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#151515),
    to(#151515),
    color-stop(50%, white)
  );
}

.movie-data {
  color: white;
  margin-left: 20px;
}

.movie-title {
  margin-bottom: -10px;
}

.movie-backdrop {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

.movieinfo-content {
  width: 85%;
  max-width: 1280px;
  min-height: 450px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;
}

.movieinfo-thumb {
  width: 300px;
  float: left;
}

.movieinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  color: #fff;
  overflow: hidden;
}

.movieinfo-text h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  margin: 0;
}

.movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.movieinfo-text p {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.rating-genre {
  display: flex;
  justify-content: flex-start;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #fff;
  color: #000;
  font-weight: 800;
  border-radius: 25px;
  margin: 0px 0 0 0;
}

.genre {
  margin: 0 0 0 40px;
}

.genre p {
  margin: 0;
}

.movieinfobar-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background: #1c1c1c;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.movieinfobar-content {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 1280px;
  width: 100%;
  color: #fff;
}

.movieinfobar-content-col {
  display: flex;
  align-items: center;
}

.fa-time,
.fa-revenue,
.fa-budget {
  float: left;
  margin-right: 10px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .movieinfo-thumb {
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .movieinfo-text h1 {
    font-size: 32px !important;
  }
}
