@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
}

code {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.movie-container {
  text-align: left;
  margin-top: 40px;
}

.title {
  color: white;
  margin-left: 20px;
  letter-spacing: 5px;
}

.movies {
  display: flex;
  overflow-y: none;
  margin-bottom: 50px;
}

.movies img {
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  margin-left: 20px;
}

.poster-container {
  display: flex;
}

.poster-container:hover {
  opacity: 0.5;
  cursor: pointer;
}

.rating {
  display: flex;
  background-color: #3f3f3f;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: -35px;
}

.spacer {
  margin: 0 auto;
  height: 1px;
  width: 80%;
  background: white;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#151515),
    to(#151515),
    color-stop(50%, white)
  );
}

.movie-data {
  color: white;
  margin-left: 20px;
}

.movie-title {
  margin-bottom: -10px;
}

.movie-backdrop {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}
